@import '../../../app/variable.scss';

.dark {
    .card_technology {
        width: 150px;
        height: 150px;
        background: #ffffff45;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        padding: 10px;

        .tech_logo {
            height: 50%;

            img {
                height: 100%;
                width: auto;
            }
        }

        p {
            font-size: 14px;
            font-weight: 500;
            color: $text_title_dark_theme ;
        }
    }
}