$text_dark_theme: #010124;
$text_title_dark_theme: #f4f4f4;
$card_background_dark_theme: #f4f4f4;
$primary_text_dark_theme: #767676;
$background_dark_theme: #010124;
$text_author: linear-gradient(to right, #13B0F5 3%, #E70FAA 100%);
$time_line: linear-gradient(to bottom, #13B0F5 3%, #E70FAA 100%);