@import "../../app/variable.scss";

.dark {
    position: relative;

    &.left {
        display: flex;
        justify-content: start;
    }

    &.right {
        display: flex;
        justify-content: end;
    }

    .line {
        height: 10px;
        width: calc(50% - 6px);
        background-color: $card_background_dark_theme;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        z-index: 1;

        &.left {
            left: 0px;

            .circle {
                width: 24px;
                height: 24px;
                left: 99%;
                background-color: $background_dark_theme;
                position: relative;
                top: -7px;
                border: 4px solid $card_background_dark_theme;
                border-radius: 50px;
            }
        }

        &.right {
            right: 0px;

            .circle {
                width: 24px;
                height: 24px;
                right: 3%;
                background-color: #191919;
                position: relative;
                top: -7px;
                border: 4px solid $card_background_dark_theme;
                border-radius: 50px;
            }
        }


    }

    .experience {
        background-color: $card_background_dark_theme;
        width: calc(50% - 40px);
        z-index: 2;
        position: relative;
        padding: 14px 32px;
        border-radius: 4px;

        .company_name {
            padding-bottom: 20px;
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 24px;
            color: $text_dark_theme;
        }

        .more-info {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .row_info {
                display: flex;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: $primary_text_dark_theme;
                    flex: 1;
                }

                p {
                    color: $text_dark_theme;
                    font-size: 14px;
                    font-weight: 400;
                    flex: 3;
                }
            }

        }

    }
}